@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}

.topo {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background-color: #43bad8;
    border-bottom: 5px solid #79da79;
}

.petcare-logo {
    width: 100px;
}

.texto-centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.texto-centro h1 {
    color: #fff;
}

body{
    margin:0;
    background:#ffffff;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
.container{
    max-width:900px;
    margin:60px auto;
    padding:20px;
    text-align:center;
    flex:1;
}

h1{
    color:#333;
    margin-bottom:10px;
}

.sub{
    color:#555;
    margin-bottom:30px;
}

.card{
    background:#3796b4;
    color:white;
    padding:30px;
    border-radius:10px;
    margin:30px auto;
    max-width:700px;
}

.card h2{
    margin-bottom:15px;
}

.card p{
    margin:10px 0;
}

.ajuda{
    margin-top:10px;
    color:#333;
}

.telefone{
    margin-top:10px;
    font-size:16px;
}

.telefone strong{
    font-weight:bold;
}


footer{
    background-color:#43bad8;
    border-top:5px solid #79da79;
    padding:15px;
    text-align:center;
    color:#fff;
}