<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
=======
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: "Oswald";
}

=======
}

html, body {
    height: 100%;
}
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd

body {
    background-color: #ffffff;
    color: rgba(78, 121, 78, 0.753);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topo {
<<<<<<< HEAD
    display: flex;
    align-items: center;
    padding: 10px 40px;
    background-color: #43bad8;
    border-bottom: 5px solid #79da79;
    color: #fff;
}

.petcare-logo {
=======
    padding: 20px;
    background: linear-gradient(#43bad8, white);
    align-items: center;
    display: flex;
    position: relative;
    color: #303130;
}

.logo {
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd
    width: 100px;
}

.texto-centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

main {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border: 3px solid #79da79;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
}

h2 {
    color: rgb(41, 43, 42);
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0;
=======
    display: inline-block;
    padding: 2rem;
    border: 3px solid #79da79;
    border-radius: 8px;
}
h2 {
    color: rgb(41, 43, 42);
    padding: 2rem;
    font-weight: 600;
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd
}

section {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
=======
    gap: 1rem;
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    padding: 0.5rem;
    margin: 5px;
    width: 100%;
    max-width: 600px;    
}

label {
    padding: 2rem;
}

.botao {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  background-color: #79da79;
  color: #fff;
  padding: 0.7rem;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
}

.botao:focus,
.botao:active,
.botao:focus-visible {
  outline: none;
  box-shadow: none;
}

<<<<<<< HEAD
.terms-box {
    padding: 10px;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #43bad8;
    border-top: 5px solid #79da79;
    padding: 15px;
    font-size: 14px;
    color: #fff;
=======
.barra {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(180deg, white, #43bad8);
  padding: 15px;
}

.voltar {
  position: absolute;
  left: 15px;
  background-color: #79da79;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
}

.paragrafo-footer {
  font-size: 14px;
  color: #222222;
>>>>>>> 5e017b7d4bca1fe54c7e3406eab562aa2d1ef0dd
}