* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.topo {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.topo-direita {
    flex: 1;
    display: flex;
    justify-content: flex-end
}

.petcare-logo {
    height: 100px;
}

.consultas-lista, 
.exames-lista, 
.sobre-nos-lista{
    padding: 10px;
    color: #79da79;
}

.consultas-lista:hover, 
.exames-lista:hover, 
.sobre-nos-lista:hover{
    color: #69c269;
    cursor: pointer;
}

.login {
    padding: 10px 20px;
    background-color: #79da79;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.login:hover {
    background-color: #43bad8;
}

.background {
    background-image: url(./Imagens/cachorro-vet.jpg);
    background-size: cover;
}

.teste {
    padding: 10px;
    color: #69c269;
    border: none;
}

option {
    border: none;
    border-color: white;
}

footer {
    background: #79da79;
    color: azure;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}